<div class="home-container">
    <div class="header">
      <h1>Bienvenue sur la Chasse aux Trésors</h1>
      <p>Le gouvernement péruvien vient d’autoriser les aventuriers en quête de trésors à explorer les 85 182 km² du département de la Madre de Dios.</p>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="uploadFile()">Télécharger une Carte</button>
      <button mat-raised-button color="accent" routerLink="/simulationView">Voir la Simulation</button>
    </div>
  </div>
 
  