/* Conteneur principal */
.treasure-hunt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #ff8c00, #ff6347); /* Dégradé coloré */
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Contenu de bienvenue */
.treasure-hunt-content {
  background: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 20px;
}

/* Styles de titres et paragraphes */
h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

button {
  background: #ffd700; /* Couleur dorée */
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #f0e68c; /* Couleur dorée plus claire au survol */
}

/* Conteneur de la carte */
.map-container {
  width: 80vw; /* Largeur de la carte à 80% de la largeur de la fenêtre */
  height: 80vh; /* Hauteur de la carte à 80% de la hauteur de la fenêtre */
  background: rgba(255, 255, 255, 0.1); /* Fond légèrement translucide */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style de la table */
table {
  width: 100%; /* La table occupe 100% de la largeur de son conteneur */
  height: 100%; /* La table occupe 100% de la hauteur de son conteneur */
  border-collapse: collapse; /* Fusionner les bordures des cellules */
}

/* Style des cellules */
td {
  width: 33.33%; /* Ajuste pour 3 colonnes */
  height: 25%; /* Ajuste pour 4 rangées */
  text-align: center;
  vertical-align: middle; /* Centre verticalement le contenu */
  border: 1px solid #ddd; /* Bordure des cellules */
  position: relative; /* Nécessaire pour le positionnement absolu des informations */
}

/* Style des conteneurs d'icônes */
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem; /* Ajustez la taille des icônes */
}

/* Style du nom de l'aventurier */
.aventurier-name {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* Style des informations supplémentaires */
.aventurier-info {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
  z-index: 10;
}

td:hover .aventurier-info {
  display: block;
}

.montagne i {
  color: gray;
}

.aventurier i {
  color: yellow;
}

.tresor i {
  color: gold;
}
